<footer id="footer">
    <div class="inner">
        <section>
            <h2>Réseaux</h2>
            <ul class="icons">
                <li><a target="_blank" rel="noreferrer noopener" href="https://twitter.com/ArthurMorisson"
                       class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a target="_blank" rel="noreferrer noopener"
                       href="https://openclassrooms.workplace.com/profile.php?id=100041111838073"
                       class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a target="_blank" rel="noreferrer noopener" href="https://github.com/ArtGM/php-blog"
                       class="icon style2 fa-github"><span class="label">GitHub</span></a></li>
                <li><a target="_blank" rel="noreferrer noopener" href="mailto:gx.morisson@protonmail.com"
                       class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
            </ul>
        </section>
        <ul class="copyright">
            <li>Arthur Morisson</li>
        </ul>
    </div>
</footer>