<header class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><h1>HEADER</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu"
                aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainMenu">
            <ul class="navbar-nav w-100 align-items-center">
                {% if session.getSession('connected') %}
                    <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
                    <li class="nav-item ml-auto">
                        <p>Bonjour, {{ session.getSession('username') }}</p>
                        <a class="btn btn-sm btn-danger" href="/logout">Deconnexion</a>
                        {% if session.getSession('role') == 1 %}
                            <a class="btn btn-sm btn-primary" href="/admin">Admin</a>
                        {% endif %}
                    </li>

                {% else %}
                    <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
                    <li class="nav-item">
                        <a class="btn btn-sm btn-success" href="/connexion">Connexion
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-sm btn-primary" href="/creer-compte">
                            S'inscrire
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>