<header id="header">
    <div class="inner">
        <a href="/" class="logo">
            <span class="symbol"><img src="/public/assets/images/home-solid.svg" alt=""/></span><span class="title">Accueil</span>
        </a>

        <nav>
            <ul>
                <li><a href="#menu">Menu</a></li>
            </ul>
        </nav>

    </div>
</header>

<nav id="menu">
    <ul>
        {% if session.getSession('connected') %}
            <li>
                <p>Bonjour, {{ session.getSession('username') }}</p>
                <a href="/logout">Deconnexion</a>
                {% if session.getSession('role') == 1 %}
                    <a href="/admin">Admin</a>
                {% else %}
                    <a href="/admin/"></a>
                {% endif %}
            </li>

        {% else %}
            <li>
                <a href="/connexion">Connexion</a>
            </li>
            <li>
                <a href="/creer-compte">S'inscrire</a>
            </li>
        {% endif %}
    </ul>
</nav>

