{% block comment %}
    <h2>Commentaires :</h2>
<ul>
    {% for comment in comments  %}
    <li>
        <p>{{ comment.content }}</p>
        <p>User ID: <strong>{{ comment.user_id }}</strong></p>
    </li>
    {% endfor %}
</ul>
{% endblock %}
