<nav class="row">
    <div class="actions small">
        <a class="button small" href="/admin/gestion-articles">Gestion des Articles</a>
        <a class="button small" href="/admin/gestion-commentaires">Gestion des Commentaires</a>
        <a class="button small" href="/admin/gestion-utilisateur">Gestion des utilisateurs</a>
    </div>
</nav>
