{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        {{ include("_admin/_nav.html.twig") }}
        {% block admin_content %}{% endblock %}
    </div>
{% endblock %}