{% extends 'admin/dashboard.html.twig' %}

{% block admin_content %}
    <form action="/admin/profile/update" method="post">
        <div class="fields">
            <div class="field">
                <label for="username">Pseudo</label><input name="username" type="text" value="{{ user.username }}">
            </div>

            <div class="field">
                <label for="user_email">Email</label><input name="user_email" type="email" value="{{ user.email }}">
            </div>
            <div class="field">
                <label for="password">Mot de passe</label><input name="password" type="password" value=""
                                                                 placeholder="Nouveau mot de passe"><input
                        name="confirm_password" type="password" value="" placeholder="confirmation"><span
                        id="icon-macthing"></span>
            </div>
        </div>

        <ul class="actions">
            <li><input class="button" type="submit" value="Mettre à jour"></li>
            <li><a href="/admin/profile/{{ user.id }}-{{ user.username |lower }}">Retour au profil</a></li>
        </ul>
    </form>
{% endblock %}