{% extends 'base.html.twig' %}

{% block content %}
    {% if session.getSession('confirm') %}
        <div class="alert alert-success">
            <strong>{{ session.show('confirm') }}</strong>
        </div>
    {% endif %}
    <header>
        <img src="/public/assets/images/face.png" alt="" style="background: black; float:right; padding: 20px">
        <h1>Arthur Morisson</h1>
    </header>
    <section>
        <p>
            Bonjour, je suis Arthur Morisson, Développeur web.
        </p>
        <br>
        <p>
            N'hésitez pas à <a href="">consulter mon CV</a> et/ou me suivre sur les réseaux sociaux.
        </p>
    </section>

{% endblock %}