{% extends 'base.html.twig' %}

{% block content %}
    <main class="container">
        <h1>Liste des articles</h1>
        <div class="row">
            <h1>Page Non trouvée</h1>
            <a class="btn btn-primary" href="/">Retour à l'accueil</a>
        </div>
    </main>
{% endblock %}