{% extends 'base.html.twig' %}

{% block content %}
    <section class="notfound">
        <div class="content-console">
            <div class="browser-bar-console">
                <span class="close-console button-console"></span>
                <span class="min-console button-console"></span>
                <span class="max-console button-console"></span>
            </div>
            <div class="text-console"></div>
        </div>
    </section>
{% endblock %}