{% extends 'admin/dashboard.html.twig' %}

{% block admin_content %}
    <div class="my-3">
        {{ session.session('role_id') }}
        {{ session.session('history') }}

        <a href="/admin/gestion-articles" class="btn btn-primary">Retour à la liste des Articles</a>
    </div>
{% endblock %}