{% extends 'base.html.twig' %}
{% block dashboard %}
    <nav class="navbar">
        <ul class="nav">
            <li class="nav-item"><a class="nav-link" href="/admin/gestion-articles">Gestion des Articles</a></li>
            <li class="nav-item"><a class="nav-link" href="/admin/gestion-commentaires">Gestion des Commentaires</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="/admin/gestion-utilisateur">Gestion des utilisateurs</a></li>
        </ul>
    </nav>
{% endblock %}