{% extends 'dashboard.html.twig' %}

{% block manage_posts %}
    <div class="row my-3">

        <h4 class="col-4">Gestion des articles </h4>
        <a type="button" class="btn btn-success" href="/admin/ajouter">
            Ajouter un article
        </a>
    </div>
    <ul class="list-group">
        {% for post in list_posts %}
            <li class="list-group-item">{{ post.title }}
                <span class="badge">
                    <a type="button" class="btn btn-primary btn-sm" href="/admin/edit/{{ post.id }}-{{ post.Slug() }}">
                        Modifier
                    </a>
                    <a type="button" class="btn btn-danger delete-button btn-sm" href="/admin/delete/{{ post.id }}">
                        supprimer
                    </a>
                </span>
            </li>
        {% endfor %}
    </ul>
{% endblock %}