{% extends 'base.html.twig' %}

{% block manage_post %}
    <h4>Gestion des articles <a href="/admin/ajouter">
            <button>Ajouter un article</button>
        </a></h4>
    <ul>
        {% for post in list_posts %}
            <li>{{ post.title }}
                <a href="/admin/edit/{{ post.id }}-{{ post.Slug() }}">
                    <button>Modifier</button>
                </a>
                <button>supprimer</button>
            </li>
        {% endfor %}
    </ul>
{% endblock %}