{% extends 'dashboard.html.twig' %}
{% block post_form %}
    <form id="{% if post is empty %}create{% else %}update{% endif %}-post-form">
        <div class="form-group">
            <label for="post-title">Titre</label>
            <input class="form-control" type="text" id="post-title" name="post_title" value="{{ post.title }}">
        </div>
        <div class="form-group">
            <label for="content">Message</label>
            <textarea class="form-control" name="content" id="content" cols="30" rows="10">{{ post.content }}</textarea>
        </div>
        <fieldset class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="radio" id="online" name="status" value="1"
                       {% if post.status == 1 %}checked{% endif %}>
                <label class="form-check-label" for="online">Publier</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="radio" id="draft" name="status" value="0"
                       {% if post.status == 0 %}checked{% endif %}>
                <label class="form-check-label" for="draft">Enregistrer comme Brouillon</label>
            </div>
        </fieldset>


        <input class="btn btn-success" type="submit" id="submit-post" value="Enregistrer">
        {% if post is empty %}
            <input id="user-id" type="hidden" name="user_id" value="3"> <!-- TODO: set the logged-in user id  -->
            <input id="user-role" type="hidden" name="user_role" value="1">
        {% else %}
            <input id="post-id" type="hidden" name="id" value="{{ post.id }}">
        {% endif %}
    </form>
{% endblock %}
